.table {
    margin: 0 auto;
    border-collapse: collapse;
    width: 100%;
    max-width: 860px;
    font-family: Graphik, sans-serif;
    font-size: 21px;
}

.table tr:nth-child(odd) {
    background-color: #eee;
}

.table th {
    background-color: #3498db;
    border: 1px solid #a7d9fb;
    font-weight: normal;
    color: #fff;
    text-align: left;
    padding: 13px 11px 9px;
}

.table td {
    border: 1px solid #cfcfcf;
    color: #221409;
    padding: 14px 11px 13px;
}

.first-column {
    width: 20%;
}

.second-column {
    width: 20%;
}

.third-column {
    width: 35%;
}

.fourth-column {
    width: 23%;
}