* {
    box-sizing: border-box;
}

body > * {
    margin-left: 20px;
}

.new-todo-form > * {
    display: inline-block;
    vertical-align: top;
}

.new-todo-form .label {
    display: block;
}

.error-message {
    color: #f00;
    display: none;
}

.invalid {
    border: #f00 solid 1px;
}

.invalid ~ .error-message {
    display: block;
}

.new-todo-text-field {
    width: 250px;
}

.todo-list {
    padding: 0;
}

.todo-list > li + li {
    margin-top: 15px;
}

.todo-text {
    display: inline-block;
    width: 250px;
}

.edit-todo-text-field {
    width: 250px;
}

.new-todo-item > * {
    vertical-align: middle;
}

.edit-todo-item-form > * {
    vertical-align: top;
}