.header {
    background-color: #a7d9fb;
    padding: 10px 0;
    text-align: center;
    width: 60%;
    margin: 0 auto;
}

.header h1 {
    font-size: 64px;
}

.new-todo-text-field {
    width: 65%;
    margin: 10px;
}

.error-message {
    color: #f00;
    text-align: center;
    padding-bottom: 10px;
    display: none;
}

.invalid {
    border: #f00 solid 1px;
}

.invalid ~ .error-message {
    display: block;
}

.todo-list {
    padding-left: 0;
    width: 60%;
    margin: 0 auto;
}

.todo-list li {
    list-style-type: none;
    background-color: #f5f5dc;
}

.todo-list li:nth-child(odd) {
    background: #f9f9f9;
}

.todo-list li:hover {
    background-color: #ddd;
}

.todo-list li div {
    vertical-align: middle;
}

.todo-text {
    padding: 10px;
    display: inline-block;
    width: 75%;
}

.edit-todo-div {
    width: 75%;
    display: inline-block;
}

.edit-todo-text-field {
    width: 96%;
    margin: 10px;
}

.buttons {
    display: inline-block;
    text-align: right;
}

.buttons button {
    padding: 1px 3px;
    cursor: pointer;
}

.add-new-todo-item-button {
    padding: 1px 3px;
    cursor: pointer;
}

.edit-button {
    width: 109px;
}

.delete-button {
    width: 68px;
}

.save-button {
    width: 109px;
}

.cancel-button {
    width: 68px;
}