.header {
    background-color: #a7d9fb;
    padding: 1% 0;
    text-align: center;
    width: 60%;
    margin: 0 auto;
}

.header > h1 {
    font-size: 64px;
}

.todo-list {
    padding-left: 0;
    width: 60%;
    margin: 0 auto;
}

.todo-list li {
    list-style-type: none;
    background-color: beige;
}

.todo-list li:nth-child(odd) {
    background: #f9f9f9;
}

.todo-list li:hover {
    background-color: #ddd;
}

.error-message {
    color: #f00;
    text-align: center;
    padding-bottom: 1%;
    display: none;
}

.invalid {
    border: #f00 solid 1px;
}

.invalid ~ .error-message {
    display: block;
}

.new-todo-text-field {
    width: 75%;
    margin: 1%;
}

.todo-text {
    padding: 1%;
    display: inline-block;
    width: 70%;
}

.edit-todo-text-field {
    width: 69%;
    display: inline-block;
    margin: 1%;
}

.new-todo-item > * {
    vertical-align: middle;
}

button {
    cursor: pointer;
}